<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.augmate"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="19" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="com.google.android.glass.permission.DEVELOPMENT" />
	
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/dialogMenuStyle" >
        <activity
            android:name="com.augmate.AugmateWarehouseUserLogin"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
			<intent-filter>
            	<action
                	android:name="com.google.android.glass.action.VOICE_TRIGGER" />
        	</intent-filter>
        <meta-data android:name="com.google.android.glass.VoiceTrigger"
            android:resource="@xml/launch_app_voice_trigger" />            
            
        </activity>
        <activity
            android:name="com.augmate.AugmateWarehouseOrder"
            android:configChanges="orientation"
            android:label="@string/orderTitle"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.augmate.AugmateWarehouseProduct"
            android:configChanges="orientation"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.augmate.AugmateWarehouseConfirmPick"
            android:label="@string/title_activity_augmate_warehouse_confirm_pick" >
        </activity>
        <activity android:name="com.augmate.glassvideo" >
        </activity>
        <activity
            android:name="com.augmate.ConformOrderDeliveredActivity"
            android:label="@string/title_activity_conform_order_delivered" >
        </activity>
        <activity
            android:name="com.augmate.AugmateWarehouseConfirmDelivery"
            android:label="@string/title_activity_augmate_warehouse_confirm_delivery" >
        </activity>
        <activity
            android:name="com.augmate.AugmateZoetisIllnessLibrary"
            android:label="@string/title_activity_zoetis_illness_library" >
        </activity>
	</application>

</manifest>